body{
    background-image: url("background-img.jpg");
    background-repeat: no-repeat;
    background-size: auto 1400px;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.middle{
    text-align: left;
    background-color: rgb(44, 40, 40);
    opacity: 80%;
    grid-area: 3 / 2 / 3 / 3;
    padding: 40px;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-right: 40px;
    width: 500px;
    border: 2px solid rgb(44, 40, 40);
    border-radius: 3%;
    color: wheat;
}
.nav-container{
    grid-area: 0 / 2 / 1 / 4; 
    margin-top: 10px;
    width: 600px;
    height: 35px;
    background-color: #8893f7;
    border: solid darkgray 2px;
}
.nav-links{
    padding-left: 10px;
    color: darkgray;
    font-size: 20px;
}

.about{
    margin-top: 55px;
    margin-left: 2px; 
    margin-right: 20px; 
    padding: 20px;
    width: 400px;
    text-align: left;
}

.results{
    text-decoration: solid underline;
}
.results-list{
    text-align: left;
    padding: 5px;
}
.submitBtn{
   
    /* background-color: rgb(48, 95, 156);
    border: 2px solid rgb(12, 21, 51); */
    border-radius: 5%;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
}


    
    @media only screen and (max-width: 768px){
        
    }
    @media only screen and (max-width: 900px){
        .container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            height: 900px;
            width: auto;
            text-align: left;
        }
     
        .middle{
            grid-area: 1 / 1 / 2 / 2;
            width: 400px;
            margin-left: 0px;
            margin-bottom: 10px;
          
        }

        .about{
            grid-area: 5 / 1 / 6 / 2;
            width: 600px;       
            margin-left: 10px;
            margin-top: 10px;
            background-color: white;
            opacity: 75%;
  
        }
        .nav-container{
            grid-area: 1 / 1 / 2 / 2;
            width: 450px;
            margin-left: 50px;
        }
        .nav-links{
          padding: 20px; 
          padding-top: 5px;
        }
    }
  
    
    
  