.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #474747;
    margin-left: 20px;
    margin-right: 20px;
    height: 700px;
    font-family: 'Times New Roman', Times, serif;
}

.middle{
    background-color: white;
    grid-area: 1 / 2 / 5 / 4;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 550px;
    height: 500px;
}
.nav-container{
    grid-area: 1 / 2 / 2 / 4; 
    margin-bottom: 20px;
    margin-top: 20px;
    width: 600px;
    height: 40px;
    background-color: #fdb321;
    border: solid darkgray 2px;
}
.nav-links{
    padding-left: 20px;
   color: darkgray;
   font-size: 20px;
}
h1{
    grid-area: 2 / 2 / 4 / 4;   
}
h2{
    grid-area: 4 / 2 / 5 / 4; 
}
.header{
    grid-area: 1 / 2 / 1 / 4; 
    margin-bottom: 20px;
    margin-top: 40px;
/*    
    <div class="header"><h1>Trademark Checker</h1></div> 

*/
}

   
    .div3 {}


    
    @media only screen and (max-width: 768px){
        
    }